<div class="p-grid p-justify-center card">

    <div class="p-col-10 p-sm-6 p-md-4">

        <p-card>

            <div class="p-grid">

                <div class="p-col-12 text-center">
                    <img class="logo" src="../../assets/logo-incendios.png" alt="DataLab - Incêndios Florestais">

                    <h2>DataLab - Incêndios</h2>
                </div>

                <form autocomplete="off" class="p-col-12 formLogin" #formLogin="ngForm">

                    <div class="p-col-12 p-field">
                        <label for="email">Usuário</label>
                        <input id="email" class="p-col-12" type="email" name="email" [(ngModel)]="login.email" pInputText required email #email="ngModel" ngModel/>

                        <app-mensagem-de-erro [controle]="email" erro="required" mensagem="Informe o email"></app-mensagem-de-erro>
                        <app-mensagem-de-erro [controle]="email" erro="email" mensagem="E-mail inválido"></app-mensagem-de-erro>


                    </div>

                    <div class="p-col-12 p-field">
                        <label for="senha">Senha</label>
                        <input id="senha" class="p-col-12" type="text" name="senha" [(ngModel)]="login.senha" minlength="6" maxlength="100" pInputText required #senha="ngModel" ngModel/>

                        <app-mensagem-de-erro [controle]="senha" erro="required" mensagem="Informe a senha"></app-mensagem-de-erro>
                        <app-mensagem-de-erro [controle]="senha" erro="minlength" mensagem="Mínimo de {{senha.errors?.minlength?.requiredLength}} caracteres"></app-mensagem-de-erro>

                    </div>

                    <div class="p-col-12">
                        <button pButton type="button" label="Entrar" class="p-col-12" (click)="logar()" [disabled]="!formLogin.valid"></button>
                    </div>

                </form>

            </div>

        </p-card>

    </div>

</div>