<div class="p-grid p-justify-center card">

    <div class="p-col-10 p-sm-6 p-md-4">

        <p-card>

            <div class="p-grid">

                <div class="p-col-12 text-center">
                    <img class="logo" src="../../assets/logo-incendios.png" alt="DataLab - Incêndios Florestais">

                    <h2>DataLab - Incêndios</h2>
                </div>

                <form autocomplete="off" class="p-col-12 formLogin" #formLogin="ngForm">

                    <div class="p-col-12 p-field">
                        <label for="username">Usuário</label>
                        <input id="username" class="p-col-12" type="text" pInputText />
                    </div>

                    <div class="p-col-12 p-field">
                        <label for="password">Senha</label>
                        <input id="password" class="p-col-12" type="text" pInputText />
                    </div>

                    <div class="p-col-12">
                        <button pButton type="button" label="Entrar" class="p-col-12"></button>
                    </div>

                </form>

            </div>

        </p-card>

    </div>

</div>