:host ::ng-deep .p-datatable {
    margin-bottom: 2rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr:hover {
    background-color: #b3e5fc !important;
}

.campo-busca {
    margin-right: .5rem;
    width: 17rem;
}

.fire-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status.true {
    background: #dbe7dc;
    color: #256029;
}

.status.false {
    background: #ffeceec9;
    color: #c63737;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-editar {
    margin-right: .5rem !important;
}
