:host ::ng-deep .p-dataview {
    padding-bottom: 1rem;
}

:host ::ng-deep .p-dataview .p-dataview-header {
    padding: 1rem .5rem;
}

:host ::ng-deep .p-dataview .p-dataview-emptymessage {
    text-align: center;
    font-weight: bold;
}

.users-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-new-user {
    text-decoration: none;
}

.campo-busca {
    margin-right: .5rem;
    width: 17rem;
}

.user.true {
    background-color: red;
}

:host ::ng-deep .p-card:hover {
    background-color: #a7c4d1
}

.card-footer.true {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-footer.false {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

:host ::ng-deep .p-card .p-card-footer {
    padding-top: .5rem;
    margin-top: 0.5rem;
}

:host ::ng-deep .p-card {
    margin: .5rem .5rem;
}

:host ::ng-deep .p-card .p-card-content {
    padding: 0;
}

.user-icon {
    margin-right: .5rem;
}

.user-email,
.user-matricula {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-matricula {
    font-weight: 700;
    font-size: 1.6rem;
}

.user-email,
.user-matricula {
    margin-top: 1rem;
}

.badge {
    border-radius: 5px;
    padding: 0 5px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .3px;
    background-color: #b3e5fc;
    color: #23547b;
}

.buttons-prev-next {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-prev-next .prev {
    margin-right: 1rem;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-editar {
    margin-right: .5rem !important;
}