.navbar {
    padding: 20px 20px;
    background-color: var(--color-primary-blue);
}

.navbar-toggle {
    color: #fff;
}

:host ::ng-deep .p-sidebar-left {
    background-color: #3a3633;
}

:host ::ng-deep .p-sidebar .p-sidebar-header .p-sidebar-close,
.p-sidebar .p-sidebar-header .p-sidebar-icon {
    color: white;
}

:host ::ng-deep .p-sidebar .p-sidebar-content,
:host ::ng-deep .p-sidebar .p-sidebar-content ul {
    height: 100%;
}

.navbar-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar-menuitem {
    margin: 5px 0;
}

.navbar-menuitem:last-child {
    margin-top: auto;
}

.navbar-menuitem a {
    padding: 15px;
    display: block;
    color: #cccac8;
    text-decoration: none;
}

.navbar-menuitem.usuario {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #525151;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-menuitem.logout {
    border-top: 1px solid #525151;
}

.navbar-menuitem.logout a {
    color: #c63737;
    cursor: pointer;
}

.navbar-menuitem.logout a:hover {
    color: #ac1717;
}

.navbar-menuitem a:hover {
    color: #fff;
    background-color: #948b8b;
    font-weight: bold;
}

.menu-icon {
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.incendio-icon {
    margin-left: 4px;
}