:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title {
  line-height: 3rem;
}

:host
  ::ng-deep
  .p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-month {
  width: 120px;
}

:host
  ::ng-deep
  .p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-year {
  width: 55px;
}

:host
  ::ng-deep
  .p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-month,
:host
  ::ng-deep
  .p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-year {
  height: 35px;
  border: 1px solid #ced4da;
}
