<p-tabView>
  <p-tabPanel header="Por Ano" leftIcon="pi pi-calendar">
    <div class="container-dashboard">
      <app-dashboard tipoDashboard="dashboard-por-ano"></app-dashboard>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Por Período" leftIcon="pi pi-clock">
    <div class="container-dashboard">
      <app-dashboard tipoDashboard="dashboard-por-periodo"></app-dashboard>
    </div>
  </p-tabPanel>
</p-tabView>

<p-confirmDialog #cd [style]="{width: '450px'}" key="alertaTrocaDeSenha" [closable]="false">
    <ng-template pTemplate="footer">
        <button class="btn-salvar" type="button" pButton icon="pi pi-check" label="Ok" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
